#canvas-container {
  border: 1px solid #ddd;
  margin: 0 auto;
  background-color: bisque;
  height: 500;
  width: auto;
}

canvas {
  border: 1px solid #ddd;
  margin: 0 auto;
  background-color: white;
  height: 500;
  width: 800;
}

#controls {
  text-align: center;
  margin-top: 20px;
}

#controls li {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}
